/* .post-scroll-container {
    display: grid;
    grid-template-columns: auto;
    overflow-x: auto;
    gap: 50px;
    scrollbar-width: thin; 
    scrollbar-color: #ccc transparent; 
    justify-content: center;
}

.post {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 700px;
    /* width: 50%; */
  /* } */
  
  /* .post-info {
    padding: 10px;
    justify-content: left;
  }
  
  .post-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .post-description {
    font-size: 14px;
    color: #555;
  }
  
  .post-image-container {
    position: relative;
  }
  
  .post-image {
    width: 100%;
    height: auto;
  } */
/*   
  .post-actions {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    color: #fff;
  } */
   /* */ 