/* Sidebar.css */

.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
  }
  
  .toggle-btn {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  